@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Yuji+Mai&display=swap');

:root {
	--amadeus-site-h2-bgd: #c6f3f3;
}

.sub-theme-kindergarten #header-wrap  { --cnvs-header-bg: transparent; }

#header-wrap {
	--cnvs-header-bg: #9FC7DA;
}

.menu-container > .menu-item > .menu-link div::after {
	background-image: url(themed-border.png);
}

#content { --cnvs-link-color: #739BCA; padding-top: 20px; }
#content h2:first { margin-top: 0; }

#content a {
	font-size: 120%;
	font-weight: bold;
	line-height: 1.2;
}

.brinda-adige-icon { background-image: url(brinda-adige-icon.png); }
.centre-icon { background-image: url(centre-icon.png); }
.png-icon { background-size: contain; background-position: left center; background-repeat: no-repeat; padding-left: 1.6rem; }

.node-donate .engage ol li { margin-bottom: 6px!important; }

#content h2:not(.amadeus-icon) { padding: 8px; border-radius: 12px; display: inline-block; font-size: 25px; margin-bottom: 12px; }
.composite-work h2 { display: block!important; }
#content h2.block { display: block; margin: 15px 0 10px 0; }
#content h2, .site-bgd { background-color: var(--amadeus-site-h2-bgd, #ccc); }

.node-index .in-page, .node-index #directory-sections,
    .node-programs .in-page,
    .node-community .in-page,
    .node-resources .in-page,
    .node-about-us .in-page {
        display: none!important;
}

#content h3 { line-height: 1.5em; font-size: 21px; margin-bottom: 8px; }

#content h1, #content h2, #content h3 { font-family: "Playfair Display", sans-serif; font-weight: 900; letter-spacing: 2px; }
#content, #content h1, #content h2, #content h3 { font-family: "Playfair Display", sans-serif; }
#content { color: #1E3973; font-size: 18px; line-height: 1.4em; }

.cursive, #content h3.cursive { font-family: "Yuji Mai", serif; }
#content h3.cursive { font-size: 45px; }

.bordered-image { border-radius: 50%; }
